
<div [formGroup]="form">

  <mat-form-field>

    <input matInput
           placeholder="Course title"
           formControlName="title" #title>

    <mat-hint align="end">
      {{title.value.length}} / 60
    </mat-hint>

    <mat-error *ngIf="form.controls['title']?.errors?.titleExists">This title is already being used.</mat-error>

  </mat-form-field>

  <mat-form-field>

    <input matInput type="password" placeholder="Password" formControlName="adminPassword">

  </mat-form-field>

  <ng-container *ngIf="(form.controls['adminPassword'].errors | onlyOneError:['minlength', 'passwordStrength']) as error ">

    <div class="field-message" *ngIf="error.minlength">Your password must have {{error.minlength.requiredLength}} chars, but it only has {{error.minlength.actualLength}}.</div>

    <div class="field-message" *ngIf="error.passwordStrength">Your password must have lower case, upper case and numeric characters.</div>

  </ng-container>

  <mat-form-field>

    <input matInput
           placeholder="Support email"
           formControlName="supportEmail">

  </mat-form-field>

  <mat-form-field>

    <mat-select placeholder="Select category" formControlName="category">

      <ng-container *ngFor="let category of (courseCategories$ | async)">

        <mat-option [value]="category.code">{{category.description}}</mat-option>

      </ng-container>

    </mat-select>

  </mat-form-field>

  <mat-form-field>

    <input matInput [matDatepicker]="myDatepicker" placeholder="Release date"
           formControlName="releasedAt">

    <mat-datepicker-toggle matSuffix
                           [for]="myDatepicker">

    </mat-datepicker-toggle>

    <mat-datepicker #myDatepicker></mat-datepicker>

  </mat-form-field>

  <mat-checkbox color="primary" formControlName="downloadsAllowed">
    Downloads allowed?
  </mat-checkbox>

  <mat-form-field appearance="outline">

        <textarea matInput placeholder="Description"
                  formControlName="longDescription">

        </textarea>

  </mat-form-field>

  <address-form formControlName="address" legend="Address"></address-form>

  <!--address-form formControlName="addressTwo" legend="Address 2"></address-form-->

</div>

<div class="form-val">

  {{form.value | json}}

</div>

<div class="form-val">

  {{form.errors | json}}

</div>
