<input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload-row">
  <div class="field file-field">
    <input [disabled]="true" [value]="fileName" placeholder="No file chosen" readonly>
  </div>
  <button class="btn-icon" type="button" (click)="onClick(fileUpload)" [disabled]="disabled" title="Attach file">📎</button>
</div>

@if (uploadProgress) {
  <div class="progress-bar">
    <div class="progress-bar-fill" [style.width.%]="uploadProgress"></div>
  </div>
}
