

<input type="file" class="file-input" (change)="onFileSelected($event)" [accept]="requiredFileType" [disabled]="disabled" #fileUpload>


<div class="file-upload">

  <mat-form-field>

    <input matInput [disabled]="true" [value]="fileName">

  </mat-form-field>

  <button mat-mini-fab color="primary" class="upload-btn" (click)="onClick(fileUpload)" [disabled]="disabled">
    <mat-icon>
      attach_file
    </mat-icon>
  </button>

</div>

<mat-progress-bar  class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress"></mat-progress-bar>
