<fieldset [formGroup]="form">
  <legend>{{legend}}</legend>

  <div class="field">
    <label>Address Line 1</label>
    <input formControlName="addressLine1" placeholder="Address Line 1" (blur)="onTouched()">
  </div>

  <div class="field">
    <label>Address Line 2</label>
    <input formControlName="addressLine2" placeholder="Address Line 2" (blur)="onTouched()">
  </div>

  <div class="field">
    <label>Zip Code</label>
    <input formControlName="zipCode" placeholder="Zip Code" (blur)="onTouched()">
  </div>

  <div class="field">
    <label>City</label>
    <input formControlName="city" placeholder="City" (blur)="onTouched()">
  </div>
</fieldset>
