<fieldset>
  <legend>{{ legend() }}</legend>

  <div class="field">
    <label for="addressLine1">Address Line 1</label>
    <input id="addressLine1" [formField]="addressForm.addressLine1" placeholder="Address Line 1">
    <field-error [field]="addressForm.addressLine1()"></field-error>
  </div>

  <div class="field">
    <label for="addressLine2">Address Line 2</label>
    <input id="addressLine2" [formField]="addressForm.addressLine2" placeholder="Address Line 2">
    <field-error [field]="addressForm.addressLine2()"></field-error>
  </div>

  <div class="field">
    <label for="zipCode">Zip Code</label>
    <input id="zipCode" [formField]="addressForm.zipCode" placeholder="Zip Code">
    <field-error [field]="addressForm.zipCode()"></field-error>
  </div>

  <div class="field">
    <label for="city">City</label>
    <input id="city" [formField]="addressForm.city" placeholder="City">
    <field-error [field]="addressForm.city()"></field-error>
  </div>
</fieldset>
