<fieldset [formGroup]="form">

    <legend>{{legend}}</legend>

    <mat-form-field>

        <input matInput
               placeholder="Address Line 1"
               formControlName="addressLine1" (blur)="onTouched()">

    </mat-form-field>

    <mat-form-field>

        <input matInput
               placeholder="Address Line 2"
               formControlName="addressLine2" (blur)="onTouched()">

    </mat-form-field>

    <mat-form-field>

        <input matInput
               placeholder="Zip Code"
               formControlName="zipCode" (blur)="onTouched()">

    </mat-form-field>

    <mat-form-field>

        <input matInput
               placeholder="City"
               formControlName="city" (blur)="onTouched()">

    </mat-form-field>

    <div class="form-val">

        {{form.value | json}}

    </div>

    <div class="form-val">

        {{form.valid | json}}

    </div>

</fieldset>
