
.add-lessons-form {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.lesson-form-row {
  display: flex;
  align-items:center;

  mat-form-field {
    margin-right: 10px;
  }
}

.delete-btn {
  cursor:pointer;

}
