

.login-page {
  max-width: 350px;
  margin: 50px auto 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-val {
  margin-top: 10px;
}

.test-input {
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}


