
<div class="create-course-panel data-form">

  <h2 class="title">Create New Course</h2>


  <mat-horizontal-stepper class="mat-elevation-z5" labelPosition="bottom">

    <mat-step [stepControl]="stepOne.form" errorMessage="Landing page in error">

        <ng-template matStepLabel>course landing page details</ng-template>

        <create-course-step-one #stepOne></create-course-step-one>

        <div class="stepper-buttons">
          <button mat-raised-button color="primary" matStepperNext [disabled]="!stepOne.form.valid">Continue to Step 2</button>
        </div>

    </mat-step>

    <mat-step [stepControl]="stepTwo.form" errorMessage="Course pricing in error">

      <ng-template matStepLabel>course pricing details</ng-template>

      <create-course-step-two #stepTwo></create-course-step-two>

      <div class="stepper-buttons">
        <button mat-raised-button  matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext [disabled]="!stepTwo.form.valid">Continue to Step 3</button>
      </div>

    </mat-step>

    <mat-step [stepControl]="stepThree.form" errorMessage="Course lessons in error">

      <ng-template matStepLabel>course lessons</ng-template>

      <create-course-step-three #stepThree></create-course-step-three>

      <div class="stepper-buttons">
        <button mat-raised-button  matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext [disabled]="!stepThree.form.valid"
        (click)="submit(stepOne.form.value, stepTwo.form.value, stepThree.form.value)">
          Create Course
        </button>
      </div>

    </mat-step>

  </mat-horizontal-stepper>

</div>
