<div [formGroup]="form">

  <mat-form-field>

    <input matInput
           placeholder="Course title"
           formControlName="title" #titleHint>

    <mat-hint align="end">
      {{titleHint.value.length}} / 60
    </mat-hint>

  </mat-form-field>

  <mat-form-field>

    <input matInput type="password" placeholder="Password" formControlName="adminPassword">

  </mat-form-field>

  <ng-container *ngIf="(form.controls['adminPassword'].errors | onlyOneError:['minlength', 'passwordStrength']) as error ">

    <div class="field-message" *ngIf="error.minlength">Your password must have {{error.minlength.requiredLength}} chars, but it only has {{error.minlength.actualLength}}.</div>

    <div class="field-message" *ngIf="error.passwordStrength">Your password must have lower case, upper case and numeric characters.</div>

  </ng-container>

  <mat-form-field>

    <input matInput
           placeholder="Support email"
           formControlName="supportEmail">

  </mat-form-field>

  <mat-radio-group formControlName="courseType">
    <mat-radio-button value="free">Free</mat-radio-button>
    <mat-radio-button value="premium">Premium</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>

    <input matInput
           placeholder="Price"
           formControlName="price">

  </mat-form-field>

  <mat-form-field>

    <mat-select placeholder="Select category" formControlName="category">

      <ng-container *ngFor="let category of (courseCategories$ | async)">

        <mat-option [value]="category.code">{{category.description}}</mat-option>

      </ng-container>

    </mat-select>

  </mat-form-field>

  <mat-form-field>

    <input matInput [matDatepicker]="myDatepicker" placeholder="Release date"
           formControlName="releasedAt">

    <mat-datepicker-toggle matSuffix
                           [for]="myDatepicker">

    </mat-datepicker-toggle>

    <mat-datepicker #myDatepicker></mat-datepicker>

  </mat-form-field>

  <mat-checkbox color="primary" formControlName="downloadsAllowed">
    Downloads allowed?
  </mat-checkbox>

  <mat-form-field>

    <mat-label>Promotional period</mat-label>

    <mat-date-range-input [rangePicker]="promoPicker">
      <input matStartDate placeholder="Start date" formControlName="promoPeriodStartAt">
      <input matEndDate placeholder="End date" formControlName="promoPeriodEndAt">
    </mat-date-range-input>

    <mat-datepicker-toggle matSuffix [for]="promoPicker"></mat-datepicker-toggle>

    <mat-date-range-picker #promoPicker></mat-date-range-picker>

    <mat-error *ngIf="form.errors?.promoPeriod && form.dirty">The start date must be before the end date.</mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">

        <textarea matInput placeholder="Description"
                  formControlName="longDescription">

        </textarea>

  </mat-form-field>

  <div class="form-buttons">

    <button mat-raised-button (click)="reset()">
      Reset
    </button>

    <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="continueToStep2()">
      Continue to Step 2
    </button>

  </div>

  <div class="form-val">

    {{form.errors | json}}

  </div>

</div>
